@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100px;
    color: #3a3a3a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #262625;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
}

#menu {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    font-size: 100%;
}

#cycle-outer {
    clear: both;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

#cycle-image {
    background: url('../images/cycle.jpeg') no-repeat;
    background-size: cover;
    background-color: #262625;
    height: 580px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    animation-name: cycle-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#cover-text {

    background: rgba(175, 175, 107, 0.438);
    color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 140%;
    letter-spacing: 5px;
    position: absolute;
    width: 400px;
    height: 130px;
    bottom: 190px;
    right: 20px;
    border-radius: 3px;
}

#ride h3 {
    clear: both;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    word-spacing: 8px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.reason h4 {

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 120%;
}

.reason {
    font-family: 'Roboto Mono', monospace;
    line-height: 25px;
    font-weight: bold;
    font-size: 120%;
}

#flexbox-container {
    width: auto;
    height: 600px;
    display: flex;
    padding: 0;
    margin-top: 0;
    background: #3a3a3a13 url("../images/water-horseride.jpg") round no-repeat fixed;
}

.issues {
    display: flex;
    background-color: #262625b0;
    height: 300px;
    width: 22%;
    flex-grow: 2;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-size: 100%;
    font-weight: bolder;
    word-spacing: 10px;
    color: white;
    z-index: 3;
}

.language {
    display: flex;
    background-color: #26262573;
    height: 420px;
    width: 32%;
    flex-grow: 2;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 20px 40px;
    font-weight: bolder;
    z-index: 2;
    line-height: 32px;
    word-spacing: .1px;
    padding-left: 24px;
    color: white;
}


.guide {

    background-color: #26262573;
    height: 420px;
    width: 32%;
    display: flex;
    flex-grow: 2;
    align-items: center;
    flex-direction: column;
    margin: 50px 40px 20px 0;
    font-weight: bolder;
    z-index: 2;
    line-height: 32px;
    word-spacing: 1.5px;
    padding-left: 24px;
    color: white;

}


@keyframes cycle-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

nav ul {
    list-style: none;
    float: right;
    margin-left: 1.1rem;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
}

#menu li a {
    text-decoration: none;
}

#activities {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: .5px solid #26262513;
    height: 800px;
    width: auto;
    background: url("../images/beachwalk.jpg") round;
}

#activities h5 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 170%;
    color: #262625;
    margin-top: 12px;
    word-spacing: 8px;
}

#saturdays {
    float: right;
    margin: 320px 50px 0 10px;
}

#sundays {
    margin: 320px 0 0 50px;
}

#saturdays h6 {
    margin: 60px 110px 10px 110px ;
}

#sundays h6 {
    margin: 60px 120px 10px 120px;
}

.days {    
    border: .1px solid #26262544;
    height: 400px;
    width: 400px;
    background-color: #fafafa79;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
}

.time {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 140%;
    letter-spacing: 5px;
    color: #262625e1;
}

.days h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    font-size: 170%;
}

.days ol li {
    list-style: none;
    line-height: 37px;
    font-size: 140%;
    font-weight: bolder;
    color: #262625;
}