@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100px;
    color: #3a3a3a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #262625;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
}

#menu {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    font-size: 100%;
}

#cycle-outer {
    clear: both;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

#cycle-image {
    background: url('../images/cycle.jpeg') no-repeat;
    background-size: cover;
    background-color: #262625;
    height: 580px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    animation-name: cycle-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#cover-text {

    background: rgba(175, 175, 107, 0.438);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 140%;
    letter-spacing: 5px;
    position: absolute;
    width: 400px;
    height: 130px;
    bottom: 190px;
    right: 20px;
    border-radius: 3px;

}

#reasons h3{
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    word-spacing: 8px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#reasons div {
    position: relative;
    display: inline-block;
}
.reason h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.reason {
    font-family: 'Roboto Mono', monospace; 
    line-height: 30px; 
    
}
.surfing {
    float: left;
    background-color:#2626252c;
    height: 380px;
    width: 30%;
    margin-right:60px;
    margin-left:20px;
    top: 35px;
    text-align: left;
}

.cycling {
    float: right;
    margin: 0;
    background-color: #2626253b;
    height: 380px;
    width: 30%;
    margin-right:20px;
    top: 35px;
    text-align: left;
}


.motorsports {
    position: absolute;
    background-color:#2626259a;
    height: 300px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}


@keyframes cycle-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

nav ul {
    list-style: none;
    float: right;
    margin-left: 1.1rem;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
}

#menu li a {
    text-decoration: none;
}