@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&family=Roboto:wght@500&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100px;
    color: #3a3a3a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #262625;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
    padding-right: 1rem;
}

#menu {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    font-size: 100%;
}

#cover-outer {
    clear: both;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

#cover-image {
    background: url(../images/horseride.webp) center center;
    background-size: cover;
    background-color: #262625;
    height: 35em;
    width: 100%;
    margin: 0 auto;
    position: relative;
    animation-name: cycle-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes cycle-zoom {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-text {

    background: #26262559;
    color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 140%;
    letter-spacing: 5px;
    position: relative;
    width: 28rem;
    height: 9rem;
    bottom: 12rem;
    margin: 0 2rem 0;
    border-radius: 5px;
    z-index: 3;
}

#ride h3 {
    clear: both;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    word-spacing: 8px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.reason h4 {

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 120%;
    margin-bottom: 0;
}

.reason {
    font-family: 'Roboto Mono', monospace;
    line-height: 28px;
    font-weight: bold;
    font-size: 120%;
    overflow: hidden;
}

#flexbox-container {
    width: auto;
    height: 650px;
    display: flex;
    padding: 0;
    margin: 0;
    background: #3a3a3a13 url(../images/cyclist.webp) round fixed;
    background-size: auto;
}

.issues {
    display: flex;
    background-color: #26262586;
    height: 280px;
    width: 24%;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 6px 8px;
    font-size: 105%;
    font-weight: bold;
    letter-spacing: .3px;
    word-spacing: 4px;
    color: white;
    z-index: 3;
}

.language {
    display: flex;
    background-color: #26262541;
    height: 360px;
    width: 32%;
    flex-grow: 3;
    align-items: center;
    justify-content: safe;
    flex-direction: column;
    margin: 40px 3px 5px 35px;
    font-weight: bold;
    z-index: 2;
    line-height: 45px;
    word-spacing: 1.5px;
    padding: 5px 5px 6px 40px;
    color: white;
}


.guide {

    background-color: #2626256b;
    height: 360px;
    width: 32%;
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: safe;
    flex-direction: column;
    margin: 40px 35px 10px 3px;
    font-weight: bold;
    z-index: 2;
    line-height: 45px;
    word-spacing: 1.5px;
    padding: 5px 5px 6px 30px;
    color: white;

}

.language-guide {
    border-radius: 6px;
}

.reason>p {
    min-height: 0;
}

.contact-form {
    clear: both;
    text-align: center;
    margin: 6em 0 9.3em;
    padding-top: 7rem;
    line-height: 2.5rem;
}

.contact-form>h1 {
    padding-bottom: .5rem;
}

.contact-form>p {
    font-size: 110%;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 1.3rem;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
}

#menu a:hover {
    color: black;
    font-weight: bolder;
}

nav a::before {
    content: '';
    display: block;
    width: 95%;
    height: 1.6px;
    background-color: #26262575;
}

nav a:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fafafa;
    transition: ease-in-out 60ms;
}

#menu li a {
    text-decoration: none;
    color: #262625ee;
    font-weight: bold;
    font-size: 110%;
}

#activities {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: .5px solid #26262513;
    height: 800px;
    width: auto;
    background: #fafafa url(../images/activities.webp) round;
}

#activities h5 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 170%;
    color: #262625;
    margin-top: 12px;
    word-spacing: 8px;
}

#flexbox-activities {
    display: flex;
    flex-direction: row wrap;
    height: 750px;
    justify-content: space-around;
}

.days {
    margin-top: 300px;
    border: .1px solid #26262544;
    height: 400px;
    width: 400px;
    background-color: #fafafa79;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
}

.time {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 140%;
    letter-spacing: 5px;
    color: #262625e1;
}

.days h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    font-size: 170%;
    margin: 85px 0 20px;
}

.days ol li {
    list-style: none;
    line-height: 37px;
    font-size: 140%;
    font-weight: bolder;
    color: #262625;
}

footer {
    background-color: #fafafa;
    height: 250px;
    margin: 0;
    clear: both;
    padding-top: 30px;
}

.inner-footer {
    margin: 0 .8rem 0;
}

#contact {
    text-align: center;
    color: #262625f8;
    font-size: 140%;
    font-weight: bolder;
    padding: 15px 0 25px;
    margin-bottom: 15px;
    line-height: 35px;
}

#social-network li {
    display: inline-block;
    letter-spacing: 65px;
}

#social-network {
    text-align: center;
    color: #26262544;
    font-size: 140%;
    margin-bottom: 25px;
    padding-left: 3.5rem;
}

#social-network i {
    color: #262625fd;
}

#copyright {
    text-align: center;
    color: #262625;
    font-weight: bolder;
    margin-bottom: 5px;
}

#map {
    height: 300px;
    width: 100%;
    margin: 0;
}

#center h6 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

#center {
    background-color: rgba(105, 90, 205, 0.11);
    margin: 0;
}

#about-background {
    background: #262625 url(../images/about-image.webp) top center;
    margin: 0;
    height: auto;
    width: auto;
    line-height: 2.5rem;
    padding: 14px 16px 12px;
    text-align: justify;
    border-radius: 8px;
    z-index: 1;
}

#about-background p {
    background: #26262588;
    color: #fafafa;
    font-size: 160%;
    font-weight: bolder;
    border-radius: 7px;
    padding: 4px 8px;
    z-index: 3;
}

#join h2 {
    color: #262625;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: bolder;
    letter-spacing: 5px;
}

#join-us {
    clear: both;
    background: #262625f1 url(../images/join.webp) top center no-repeat;
    min-height: 44em;
    width: auto;
    padding: 2rem 1rem;
    margin-top: 15px;
}

#join {
    background: #fafafaa1;
    height: max-content;
    max-width: 25rem;
    line-height: 24px;
    margin: 60px 35px 30px 35px;
    text-align: center;
    padding: 15px 0 14px;
    border-radius: 4px;
}

.text-input {
    background: #fafafaec transparent;
    color: black;
    width: 90%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1.5px solid #262625;
    border-radius: 2px;
    padding-left: 10px;
}

.text-input:hover {
    border: 1.5px solid #26262586;
}

.join-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 120%;
    background-color: #262625;
    color: #fafafa;
    display: inline-block;
}

.join-button:hover {
    background-color: #262625c4;
    color: #fafafa;
}

label {
    color: black;
    font-weight: bolder;
    font-size: 120%;
}

.pictures>* {
    margin: 0;
    padding: 0;
}

.title {
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #262625b4;
    text-align: center;
    margin: 10px 4px;
    text-shadow:grey;
}

.pictures {
    background:#262625b6;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:1570px;
    width:100%;
    margin:0 auto;
    text-align:center;
    justify-content:center;
    align-items:center;
    border-radius:8px;
    padding:4px 0;
}

.normal {
    display:flex;
    flex-direction:column;
    position:relative;
    width:29rem;
    height:17rem;
    margin:6px;
    border-radius:4px;
}

.normal img {
    border-radius:10px;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    box-shadow:2px 4px 5px #fafafac5;
}

.long {
    height:38rem;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

@media screen and (max-width:1390px) {

    .language-guide {
        padding: 16px 25px 5px;
        line-height: 34px;
    }

}

@media screen and (max-width:1250px) {

    .language-guide {
        padding: 6px 25px 2px;
        line-height: 30px;
    }

    #flexbox-container {
        height: 700px;
    }

}

@media screen and (max-width:1090px) {

    .language-guide {
        width: 38%;
        height: 450px;
    }

    .language {
        margin: 20px 2px 0 1px;
    }

    .guide {
        margin: 20px 1px 0 2px;
        line-height: 32px;
    }

    .issues {
        height: 330px;
        width: 26%;
    }

}

@media screen and (max-width:855px) {

    .language-guide {
        width: 38%;
        height: 550px;
        margin-top: 10px;
    }

    .language {
        margin-top: 30px;
    }

    .guide {
        margin-top: 30px;
        line-height: 32px;
    }

    .issues {
        height: 420px;
        width: 26%;
        padding-left: 15px;
    }

}


@media screen and (max-width:757px) {

    .reason {
        height: 250px;
    }

    .issues .points {
        list-style: none;
    }

    #flexbox-container {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        height: 850px;
        border-radius: 4.5;
    }

    #flexbox-container>* {
        flex: 1 100%;
        margin: 8px;
        padding: 5px;
        border-radius: 4px;
    }

}

@media screen and (max-width:899px) {

    #activities {
        height: 640px;
    }

    .days {
        height: 350px;
        width: 350px;
        margin-top: 200px;
    }

    #activities h5 {
        padding: .2px;
        margin-top: 0;
        font-weight: bolder;
    }

    #activities h6 {
        margin-top: 45px;
    }

}

@media screen and (max-width:795px) {

    #activities {
        height: 640px;
    }

    .days {
        height: 320px;
        width: 320px;
        margin-top: 230px;
    }

    #activities h5 {
        padding: .1px;
        margin-top: 0;
    }

    #activities h6 {
        margin-top: 55px;
    }

    .time {
        letter-spacing: 1px;
        margin-bottom: 1px;
    }

    .days ol li {
        line-height: 25px;
        margin-top: 5px;
        padding-top: 0;
    }

}

@media screen and (max-width:690px) {

    #activities {
        height: 550px;
    }

    .days {
        height: 320px;
        width: 320px;
        margin-top: 140px;
    }

    #activities h5 {
        padding: .1px;
        margin-top: 0;
    }

    #activities h6 {
        margin-top: 55px;
    }

    .time {
        letter-spacing: 1px;
        margin-bottom: 1px;
    }

    .days ol li {
        line-height: 25px;
        margin-top: 5px;
        padding-top: 0;
        word-spacing: .5px;
    }

    #join-us {
        height: 280px;
    }

}

@media screen and (max-width:640px) {

    footer {
        height: 20rem;
    }

}

@media screen and (max-width:400px) {

    footer {
        height: 22rem;
    }

    .inner-footer p li {
        font-size: 50%;
        word-spacing: 1px;
        letter-spacing: 1px;
    }

    .inner-footer {
        line-height: 6px;
        text-align: center;

    }

    #contact {
        margin-top: .4rem;
    }

    #footer-email {
        display: block;
    }

    #footer-email li a {
        font-size: 30%;
    }

    #social-network {
        display: flex;
        flex: row wrap;
        text-align: center;
        padding-left: .4rem;
    }

    .normal {
        width: 22rem;
        height: 14rem;
    }

    .long {
        height: 28rem;
    }

}

@media screen and (max-width:490px) {

    #cover-text {
        height: auto;
        width: 70%;
        font-size: 100%;
        line-height: 28px;
        padding-left: 1rem;
        left: 2rem;
    }

}

@media screen and (max-width:410px) {

    #logo {
        font-weight: bolder;
        font-size: 210%;
    }

    #menu {
        display: block;
        padding: 0 .2rem;
    }

    #menu li {
        padding: 2px 1px;
        margin: 0 1px;
    }

    #menu li a {
        letter-spacing: .5px;
        font-size: 100%;
        font-weight: bolder;
        padding: 0 .5px;
        margin: 0 1px;
        color: #262625;
    }
}

@media screen and (max-width:460px) {

    .language-guide {
        height: fit-content;
    }

    .issues {
        line-height: 26px;
    }

    #flexbox-container {
        height: max-content;
    }

}

@media screen and (max-width:570px) {

    #activities {
        background: none;
        height: fit-content;
    }

    #activities h5 {
        margin: 3px 2px;
    }

    #flexbox-activities {
        flex-direction: column;
        height: max-content;
        align-items: center;
        margin: 0 6px;
    }

    #saturdays {
        margin: .7rem .1rem 0;
    }

    #sundays {
        margin: 1rem .1rem .8rem;
    }

    .days {
        height: 280px;
        width: 280px;
    }

}

@media screen and (max-width:486px) {

    #about-background {
        line-height: 2rem;
        text-align: center;
    }
    
}